<div class="max-w-xl mx-auto bg-white shadow p-6 rounded">
  <h2 class="text-2xl font-bold text-blue-700 mb-4">
    {{ citaId ? 'Editar Cita' : 'Nueva Cita' }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="guardar()" class="space-y-4">
    <!-- Fecha -->
    <div>
      <label class="block font-semibold text-gray-700">Fecha</label>
      <input type="datetime-local" formControlName="fecha"
        class="w-full mt-1 p-2 border rounded" />
      @if (form.get('fecha')?.invalid && form.get('fecha')?.touched) {
        <small class="text-red-500">La fecha es obligatoria</small>
      }
    </div>

    <!-- Motivo -->
    <div>
      <label class="block font-semibold text-gray-700">Motivo</label>
      <input type="text" formControlName="motivo"
        class="w-full mt-1 p-2 border rounded" />
      @if (form.get('motivo')?.invalid && form.get('motivo')?.touched) {
        <small class="text-red-500">Motivo mínimo 5 letras</small>
      }
    </div>

    <!-- Paciente -->
    <div>
        <label class="block font-semibold text-gray-700">Paciente</label>
        <select formControlName="pacienteId" class="w-full mt-1 p-2 border rounded">
            <option value="">-- Selecciona un paciente --</option>
            @for (paciente of pacientes(); track paciente.id) {
            <option [value]="paciente.id">
                {{ paciente.nombre }} {{ paciente.apellido }}
            </option>
            }
        </select>
        @if (form.get('pacienteId')?.invalid && form.get('pacienteId')?.touched) {
            <small class="text-red-500">Debes seleccionar un paciente</small>
        }
    </div>

    <!-- Médico -->
    <div>
        <label class="block font-semibold text-gray-700">Médico</label>
        <select formControlName="medicoId" class="w-full mt-1 p-2 border rounded">
            <option value="">-- Selecciona un médico --</option>
            @for (medico of medicos(); track medico.id) {
            <option [value]="medico.id">
                {{ medico.nombre }} - {{ medico.especialidad }}
            </option>
            }
        </select>
        @if (form.get('medicoId')?.invalid && form.get('medicoId')?.touched) {
            <small class="text-red-500">Debes seleccionar un médico</small>
        }
    </div>


    <div class="flex justify-end space-x-4">
      <button type="submit"
        class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded"
        [disabled]="form.invalid">
        Guardar
      </button>
      <button type="button"
        class="bg-gray-400 hover:bg-gray-500 text-white px-4 py-2 rounded"
        (click)="router.navigate(['/citas'])">
        Cancelar
      </button>
    </div>
  </form>
</div>
